<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Question Reply</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6;">
  <h2>Hello <%= name %>,</h2>

  <p>You received a reply to your question in <strong><%= title %></strong>.</p>


  <p>Thanks for being part of our course platform!</p>
</body>
</html>
